<!DOCTYPE html>
<html>
<head>
	<title>产品展示</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/product2.css?v=1">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/swiper.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 商品展示 -->
	<div class="pro_bg">
		<!-- 顶部轮播图 -->
		{include file="common/banner"} 

		<div class="pro_lunbo"><img class="my100" src="/static/images/product/lunbo.png"></div>

		<div class="pro">
			<!-- 核心商品展示 -->
			<div class="pro_l">
				<img src="/static/images/product/pro_core.png">
				<div class="pro_intro pro_show ac">
					<p class="pro_show_title">核心产品展示</p>
					<img class="pro_intro_start playvideo" id="start1" src="/static/images/company/com_start.png">
					<img class="pro_intro_start" id="pause1" src="/static/images/company/com_stop.png" style="display: none;">
					<video class="pro_intro_img" id="video1" src="{$productVideo0.videofile}"></video>
					<img class="pro_intro_bor pro_show_bor" src="/static/images/product/pro_intro.png">
					<p class="pro_intro_p pro_show_p al">{$productVideo0.description}</p>
				</div>

				<img class="pro_music" src="/static/images/product/pro_music.png">
				<ul class="pro_music_ul">
					{foreach name="album" item="item" key="k"}
					<li style="cursor: pointer;" onclick="window.location='{:url('index/product/musicList', array('id'=>$item.id))}'">
						<div class="music_ul_bor">
							<img src="{$item.thumbimage}">
						</div>
						<p class="music_ul_p ac">{$item.title}</p>
					</li>
					{/foreach}
				</ul>
			</div>
			<!-- 排行榜 -->
			<div class="pro_r">
				<img src="/static/images/product/ranking.png">
				<ul class="pro_r_ul">
					{foreach name="audio" item="item" key="k"}
					<li>
						
						<img src="/static/images/product/top{$k+1}.png">
						<p class="toplist">
							<i class="playBtn"></i>
							<span>{$item.title}</span>
							<i class="down" onclick="window.location='{:url('index/product/download', array('id'=>$item.id))}'"></i>
						</p>
						<audio class="index_music_audio" style="display: none;" src="{$item.audiofile}" controls="controls"></audio>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
<script type="text/javascript">
	

$(function(){
	$(".playBtn").click(function () {

		var thisBtn = $(this);

		// aleft(currentPlayedIndex);
		// 先停止当前播放
		

		var audioObj = $(this).parents('li').find('audio');
		if(audioObj[0].paused){
			$('audio').each(function(i){
				if(!this.paused){

					this.pause();
					this.currentTime = 0;
					$(this).parents('li').find('i.playBtn').removeClass('pauseBtn');
				}
			})

			audioObj[0].play();
			$(this).addClass('pauseBtn');
		} else {
			$(this).removeClass('pauseBtn');
			audioObj[0].pause();
		}
		
	})
})
</script>
</body>
</html>
