<!DOCTYPE html>
<html>
<head>
	<title>产品展示-音乐列表</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/musicList.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/swiper.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 商品展示 -->
	<div class="musicList_bg">
		<div class="musicList_top">
			<div class="top_l"><img src="{$album.thumbimage}"></div>
			<div class="top_r">
				<div class="top_r_title">{$album.title}</div>
				<div class="top_r_btn">
					<button class="playAll" status="off">
						<img src="/static/images/musicList/musicList_start.png" class="starticon"><img src="/static/images/musicList/musicList_pause.png" class="pauseicon" style="display: none">播放
					</button>
					<button onclick="window.location='{:url('index/product/downloadzip', array('id'=>$album.id))}'"><img src="/static/images/musicList/musicList_down.png">下载</button>
				</div>
				<div class="top_r_intro">
					<div class="top_r_name">播放</div>
					<ul class="top_r_ul">
						{if !empty($album['tag'])}
						{foreach name="$album.tag" item="item"}
						<li>{$item}</li>
						{/foreach}
						{/if}
					</ul>
				</div>
				<div class="top_r_intro" style="margin-bottom: 25px;">
					<div class="top_r_name">介绍</div>
					<div class="top_r_content"></div>
				</div>

				<p class="top_r_word">{$album.description}</p>
				<!-- <div class="top_r_zhan ar">展开 <img src="/static/images/musicList/shang.png"></div> -->
			</div>
		</div>

		<div class="musicList_bottom">
			<div class="bottom_title">音频列表</div>
			<div class="musicList_bottom_bor">
				<table class="bottom_table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>歌曲标题</th>
							<th>时长</th>
							<th>歌手</th>
							<!-- <th>专辑</th> -->
						</tr>
					</thead>
					<tbody>
						{foreach name="audio" item="item" key="k"}
						<tr>
							<td>{$k+1}
								<audio style="display: none;" src="{$item.audiofile}" controls="controls"></audio>
							</td>
							<td class="bottom_table_btn">
								<button class="play"><img src="/static/images/musicList/musicList_start.png"></button>　
								<button><a href="{:url('index/product/download', array('id'=>$item.id))}"><img src="/static/images/musicList/musicList_down.png"></a></button>
							</td>
							<td>{$item.title}</td>
							<td>{$item.timelong}</td>
							<td>{$item.band}</td>
							<!-- <td>{$album.title}</td> -->

						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
<script type="text/javascript">
	$(".play").click(function () {
		var thisAudio = $(this).parents('tr').find('audio')[0];
		
		if(thisAudio.paused){
			thisAudio.play();
			$(this).find('img').attr('src', '/static/images/musicList/musicList_pause.png');
		} else {
			thisAudio.pause();
			$(this).find('img').attr('src', '/static/images/musicList/musicList_start.png');
		}
		
	})

	$('.playAll').click(function(){
		var status = $(this).attr('status');


		var audios = document.getElementsByTagName("audio");
		if(status == 'on') {
			for(var i=0; i<audios.length; i++){
				audios[i].pause();
				audios[i].currentTime = 0;
			}

			$(this).find('.starticon').show();
			$(this).find('.pauseicon').hide();
			$(this).attr('status', 'off');
			return false;
		}
		// 开启第一个视频
		audios[0].play();
		$(this).attr('status', 'on');
		$(this).find('.starticon').hide();
		$(this).find('.pauseicon').show();

		// $(audios[0]).parents('tr').find('.play').find('img').attr('src', '/static/images/musicList/musicList_pause.png');
		for(var i=0; i<audios.length; i++){
			// console.log("audios "+i+"  SRC:" + audios[i].currentSrc);
			
			audios[i].addEventListener('ended', function () {

				// $(this).parents('tr').find('.play').find('img').attr('src','/static/images/musicList/musicList_start.png');
				var nextAudio = $(this).parents('tr').next('tr').find('audio');
				if(nextAudio[0].tagName == "AUDIO"){
					nextAudio[0].play();
				}
			}, false);
		}
	})
</script>
</body>
</html>
