@font-face{
	font-family: myFont;
	src: url('../font/TTENuoJ_0.ttf'),
		url('../font/TTENuoJ_0.eot'),
		url('../font/TTENuoJ_0.woff'),
    url('../font/TTENuoJ_0.woff2');
}
body{
	font-family:myFont;
	font-size: 20px;
	font-weight: bold;
	min-width: 1200px;
	background-color: #11494c !important;
	color: #fff !important;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.dib{
	display: inline-block;
}

.mb{
	margin-bottom: 10px;
}

/*顶部菜单导航*/
header{
	padding: 0 20%;
  box-sizing: content-box;
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -ms-display: flex !important;
  -o-display: flex !important;
  display: flex !important;
  display: -webkit-box !important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;      /* TWEENER - IE 10 */
  display: -webkit-flex !important;     /* NEW - Chrome */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  box-align:center;
  -webkit-box-align:center;
	background-color: rgba(0,0,0,.3);
}

.header_ul{
	margin-bottom: 0;
	-webkit-display: flex !important;
  -moz-display: flex !important;
  -ms-display: flex !important;
  -o-display: flex !important;
  display: flex !important;
  display: -webkit-box !important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;      /* TWEENER - IE 10 */
  display: -webkit-flex !important;     /* NEW - Chrome */
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
	justify-content: space-around;
	width: 80%;
}

.header_ul li a{
	display: inline-block;
	padding: 6px 10px;
	height: 50px;
	box-sizing: content-box;
	line-height: 50px;
	text-align: center;
	font-weight: 200;
	color: #fff;
	font-size: 18px;
}

.header_ul li a:hover{
	background-color: #11494C;
}

.header_li_act{
	background-color: #11494C;
}

/*底部公司和logo*/
footer{
	width: 100%;
	height: 250px;
  padding: 0 14%;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  box-align:center;
  -webkit-box-align:center;
}

.footer_bg{
	width: 100%;
	height: 250px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: -1;
}

@media screen and (max-width: 1700px) {
	.bottom_l {
		font-size: 18px;
	}
}

@media screen and (max-width: 1500px) {
	.bottom_l {
		font-size: 16px;
	}
}
.bottom_l{
	color: #fff;
}

.bottom_l p span{
	margin-left: 40px;
}

.bottom_m{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
	width: 25%;
}

.bottom_m_div{
	width: 50%;
}

.bottom_m_div img{
	width: 90%;
}

.bottom_m_div p{
	margin-top: 10px;
	font-size: 16px;
}