@font-face{
	font-family: myFont;
	src: url('../font/TTENuoJ_0.ttf'),
		url('../font/TTENuoJ_0.eot'),
		url('../font/TTENuoJ_0.woff'),
		url('../font/TTENuoJ_0.woff2');
}
body{
	font-family:myFont;
	font-size: 20px;
	font-weight: bold;
	min-width: 1200px;
	background-color: #11494c !important;
	color: #fff !important;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.dib{
	display: inline-block;
}

.mb{
	margin-bottom: 10px;
}

/*顶部菜单导航*/
header{
	padding: 0 20%;
	box-sizing: content-box;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0,0,0,.3);
}

.header_ul{
	margin-bottom: 0;
	display: flex !important;
	justify-content: space-around;
	width: 80%;
}

.header_ul li a{
	display: inline-block;
	padding: 6px 10px;
	height: 50px;
	box-sizing: content-box;
	line-height: 50px;
	text-align: center;
	font-weight: 200;
	color: #fff;
	font-size: 18px;
}

.header_ul li a:hover{
	background-color: #11494C;
}

.header_li_act{
	background-color: #11494C;
}

/*底部公司和logo*/
footer{
	width: 100%;
	height: 250px;
	padding: 0 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_bg{
	width: 100%;
	height: 250px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: -1;
}

.bottom_l{
	color: #fff;
	font-size: 18px;
}

.bottom_l p span{
	margin-left: 40px;
}

.bottom_m{
	display: flex;
}

.bottom_m_div{
	width: 28%;
}

.bottom_m_div img{
	width: 90%;
}

.bottom_m_div p{
	margin-top: 10px;
}