.com_bg{
	background: url(../images/company/com_bg.png) no-repeat;
	background-size: cover;
	padding: 14% 0 25% 0;
	position: relative;
	box-sizing: content-box;
}

.w100{
	width: 100%;
}

/*视频弹窗*/
.pro_video{
	margin: 10% 20% 0 20%;
}

.pro_video video{
	width: 100%;
}

.com_title{
	padding: 0 32%;
}

.com_title img{
	margin-top: -10%;
}

.com_intor{
	position: relative;
}


.com_video{
	position: relative;
	z-index: 9
}

.com_video_img{
	/*position: absolute;
	top: 17.5%;
	left: 25%;
	width: 50%;*/
	position: absolute;
    top: 19.5%;
    left: 27%;
    width: 48%;
}

.com_video_img2{
	position: absolute;
	top: 21.5%;
    left: 16%;
    width: 52%;
}

.com_video_start{
	position: absolute;
	top: 40%;
	left: 46%;
	z-index: 9;
}

.com_video_start2{
	position: absolute;
	top: 38%;
    left: 39%;
    z-index: 9;
}

.com_text{
	text-align: center;
	padding: 5% 14%;
}

.com_text img{
	width: 80%;
}

.com_text_p{
	font-size: 26px;
	color: #FFFFFF;
	line-height: 50px;
	position: absolute;
	top: 50%;
	left: 0;
	/*padding: 0 18% 0 20%;*/
	padding: 0 25%;
}

.com_pro{
	margin-top: 3%;
}

.com_pro_img{
	position: absolute;
	top: 20%;
	left: 17%;
	width: 58%;
}

.com_team{
	margin-top: 18.5%;
}

.com_dia{
	padding: 0 16%;
	margin-top: -10.5%;
}

.com_dia_item{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
	-webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
	align-items: center;
	position: absolute;
}

.com_dia_l{
	top: 40%;
	left: 22.5%;
	padding-right: 30%;
}

.com_dia_r{
	top: 63%;
	right: 18.5%;
	padding-left: 34%;
}

.dia_item_img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #fff;
}

.dia_item_p{
	margin: 0 20px;
	line-height: 40px;
}

.dia_item_p1{
	font-size: 26px;
}

.dia_item_p2{
	font-size: 20px;
}

.com_join{
	margin-top: 28.5%;
    margin-left: -1.6%;
}

.com_join_img{
	width: 40%;

}

.com_line{
	width: 100%;
	border-top: 10px solid #fff;
	margin-top: 3%;
	margin-bottom: 12%
}

/*下方合作公司*/
.com_bottom{
	width: 100%;
	padding: 0 14.5% 0 14%;
	display: flex;
  margin-bottom: 14.7%;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
	justify-content:space-around;
	-webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
	align-items: center;
}

.com_bottom li{
	width: 23%;
	text-align: center;
	position: relative;
}

.com_bottom_bor{
	width: 100%;
}

.com_bottom_img{
	width: 90%;
	position: absolute;
	top: 7%;
	left: 5%;
	border-radius: 10px;
}
