.index_bg{
	background: url(../images/index/index_bg.png) no-repeat;
	background-size: 100%;
	min-width: 1200px;
    padding: 21% 0 16% 0;
    position: relative;
	box-sizing: content-box;
}
/*中间按钮*/
.index_all{
    width: 67%;
    margin: 0 auto;
    padding: 55px 65px 40px 65px;
	background: url(../images/index/index_border.png) no-repeat;
	background-size: 100% 100%;
	background-position: center;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}

.btn_l_b{
	display: flex;
}
.btn_l_b a{
	margin: 0 10px;
}
.my50{
	width: 50%;
}
.my100{
	width: 100%;
}

/*youce小时间*/
.index_date{
	width: 16%;
	padding: 35px 0;
	background-image: url(../images/index/index_date.png);
	background-repeat:  no-repeat;
	background-size: 100% 100%;
	position: absolute;
    top: 20.5%;
    right: 0;
    font-size: 46px;
    /*color: #11494c;*/
    color: #fff;
}

.index_music {position: relative;}
.index_music .music_top { position: absolute; font-size: 36px;}
.index_music .music_top a {color: #fff}
.index_music .top1{top:260px; left: 40px;}
.index_music .top2{top:620px; left: 40px;}
.index_music .offset { font-size: 48px; }