.join_bg{
	background: url(../images/join/join_bg.png) no-repeat;
	background-size: cover;
	padding: 4% 0 6% 0;
	position: relative;
	box-sizing: content-box;
}

.w100{
	width: 100%;
}

.join_intor{
	position: relative;
}


.join_text{
	padding: 0 14%;
	text-align: center;
}

.join_text img{
	width: 80%;
}

.join_text_p{
	font-size: 26px;
	color: #FFFFFF;
	line-height: 50px;
	position: absolute;
	top: 51%;
	left: 0;
	width: 100%;
}

.join_bor{
	background: url(../images/join/join_bor.png) no-repeat center 0;
	background-size: 55% 100%;
	width: 100%;
	padding: 0 20%;
}

.join_map{
	margin: 4% 0;
	width: 76%;
}

.join_map_title{
	font-size: 70px;
	padding: 6% 15% 0 15%;
	font-weight: bold;
}