.musicList_bg{
	background: url(../images/musicList/musicList_bg.png) no-repeat;
	background-size: cover;
	padding: 6% 25% 13% 25%;
	position: relative;
	box-sizing: content-box;
}

/*上面*/
.musicList_top{
	padding: 0 7.4%;
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
}

.top_l{
	background: url(../images/musicList/musicList_border.png) no-repeat;
	background-size: 100% auto;
    width: 35%;
    padding: 15px;
    margin-right: 4%;
}

.top_l img{
	width: 100%;
}

.top_r{
	width: 57%;
	font-weight: 400;
}

.top_r_title{
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.top_r_btn button{
	width: 66px;
	height: 30px;
	line-height: 30px;
	/*padding: 6px 8px;*/
	margin-right: 10px;
	margin-bottom: 25px;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	font-size: 16px;
	font-family: myFont;
}

.top_r_btn button img{
	/*width: 16px;
	height: auto;*/
	margin-right: 4px;
}

.top_r_intro{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
	align-items: center;
	margin-bottom: 10px;
}

.top_r_name{
	width: 50px;
}

.top_r_ul{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
}

.top_r_ul li{
	padding: 2px 8px 0px 8px;
	border: 2px solid #FFFFFF;
	border-radius: 17px;
	margin-right: 8px;
	font-size: 14px;
}

.top_r_word{
	font-size: 16px;
	line-height: 24px;
}

.top_r_zhan{
	margin-top: 10px;
	font-size: 14px;
}

/*下方音乐列表*/
.musicList_bottom{
	/*padding: 0 8%;*/
	margin-top: 10%;
}

.bottom_title{
	font-size: 20px;
	margin-bottom: 20px;
	padding: 0 5%;
}

.musicList_bottom_bor{
	min-height: 640px;
	background: url(../images/musicList/musicList_Listborder.png) no-repeat;
	background-size: 100% 100%;
	padding: 5%;
}

.bottom_table{
	width: 100%;
}

.bottom_table td{
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 20px;
}

.bottom_table thead th{
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 20px;
}

.bottom_table_btn{
	text-align: center;
}

.bottom_table_btn button{
	background-color: transparent;
	border: none;
	outline: none;
}