/*轮播图*/
.pro_pic_item img{
	width: 100%;
	height: 380px !important;
}

.pro_lunbo img{
	width: 100%;
}

/*商品展示*/
.pro_bg{
	background: url(../images/product/product_bg.png) no-repeat;
	background-size: cover;
	position: relative;
	box-sizing: content-box;
}

/*左边产品展示*/
.pro{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
	-webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
	padding: 6% 25% 12% 24.5%;
}

.pro_l{
	width: 57%;
}

.pro_l img{
	width: 100%;
}

.pro_show{
	position: relative;
	margin-top: 10%;
	margin-left: -5%;
}

.pro_show_title{
	position: absolute;
	top: 6%;
	left: 20%;
	font-size: 30px;
	z-index: 9;
}

.pro_show_img{
	width: 95% !important;
	position: absolute;
	top: 3%;
	right: 0;
}

.pro_show_bor{
	position: relative;
	z-index: 9
}
.pro_show_start{
	position: absolute;
	top: 16%;
	left: 48%;
	width: 15% !important;
	z-index: 999;
}
.pro_show_p{
	position: absolute;
	padding: 0 6%;
	top: 58.5%;
	left: 10%;
	line-height: 45px;
	letter-spacing: 2px;
	font-weight: 200;
}

@media screen and (max-width: 4096px) {
	.pro_show_p {
		font-size: 26px;
	}
}

@media screen and (max-width: 1600px) {
	.pro_show_p {
		font-size: 22px;
	}
}

@media screen and (max-width: 1300px) {
	.pro_show_p {
		font-size: 18px;
	}
}

/*公司产品介绍*/
.pro_intro{
	margin-left: -25%;
}
.pro_intro_start{
	width: 10% !important;
	position: absolute;
	z-index: 999;
	left: 53%;
	top: 23%;
}
.pro_intro_img{
	width: 70% !important;
	position: absolute;
	top: 13%;
	left: 22%;
}
.pro_intro_bor{
}

.pro_intro_p{
	padding: 0 2%;
    top: 65%;
    left: 26.5%;
}

/*音乐专区*/
.pro_music{
	margin-top: 20%;
}

.pro_music_ul{
	-webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
	align-items: flex-start;
	padding: 5% 0;
}

.pro_music_ul li{
	width: 32%;
	padding: 0 10px 10px 10px;
}

.music_ul_bor{
	background:url(../images/product/musicBor.png) no-repeat;
	padding: 10px;
    background-size: 100% 100%;
}

.music_ul_p{
	padding: 10px;
	font-size: 16px;
}

.music_ul_bor img{
	width: 100%;
	border-radius: 10px;
}

/*右边排行榜*/
.pro_r{
	width: 40%;
}

.pro_r img{
	width: 100%;
}

.pro_r_ul{
	margin-top: 15%;
	margin-left: 10%;
}

.pro_r_ul li{
	margin-bottom: 12%;
}

.pro_r_ul li {
	display: inline-block;
	width: 100%;
}

.pro_r_ul li img{
	width: 80%;
}

.pro_r_ul li p{
	color: #fff;
	margin: 8% 0 0 30px;
}

@media screen and (max-width: 4096px) {
	.pro_r_ul li p {
		font-size: 30px;
	}
}

@media screen and (max-width: 1500px) {
	.pro_r_ul li p {
		font-size: 24px;
	}
}

@media screen and (max-width: 1200px) {
	.pro_r_ul li p {
		font-size: 18px;
	}
}

.pro_r_ul i.playBtn{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url(../images/musicList/musiclist_start.png) no-repeat;
}
.pro_r_ul i.pauseBtn{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url(../images/musicList/musiclist_pause.png) no-repeat;
}
.pro_r_ul i.down{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url(../images/musicList/musiclist_down.png) no-repeat;
}
