<!DOCTYPE html>
<html>
<head>
	<title>乐球宝贝官网</title>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<!-- <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <style>
    .borderyWrap{
      overflow: hidden;
    }
  </style>
</head>
<body>
	<!-- 中间按钮 -->
	<div class="index_bg" id="divbanner">
		<div class="index_all">
			<div class="btn_l my50">
				<div class="pr mb">
          <a href="{:url('index/news/index')}">
            <div class="borderyWrap">
                <img class="index_bordery" src="/static/images/index/new.png">
            </div>
						<img class="index_imgy" src="/static/images/index/new_1.png">
					</a>
				</div>
				<div class="pr mb">
          <a href="{:url('index/music/index')}">
            <div class="borderyWrap">
                <img class="index_bordery" src="/static/images/index/girl.png">
            </div>
						<img class="index_imgy" style="height: 93%;" src="/static/images/index/girl_1.png">
					</a>
				</div>
				<div class="btn_l_b mb">
          <a class="pr dib" href="{:url('index/about/index')}">
            <div class="borderyWrap">
                <img class="index_bordery" src="/static/images/index/gongsi.png">
            </div>
						<img class="index_imgy" src="/static/images/index/gongsi_1.png">
					</a>
          <a class="pr dib" href="{:url('index/join/index')}">
            <div class="borderyWrap">
                <img class="index_bordery" src="/static/images/index/hezuo.png">
            </div>
						<img class="index_imgy" src="/static/images/index/hezuo_1.png">
					</a>
				</div>
			</div>
			<div class="btn_l pr my50">
        <a href="{:url('index/product/index')}">
          <div class="borderyWrap">
              <img class="index_bordery" src="/static/images/index/xiha.png">
          </div>
					<img class="index_imgy" style="height: 97%;" src="/static/images/index/xiha_1.png">
				</a>
				{foreach name="$audiolist" item="item" key="k"}
				<div class="index_music index_music{$k+1}">
	            	<p class="index_music_p" audio_url="{$item.audiofile}">{:mb_substr($item.title, 0, 7)}</p>
	            	<audio class="index_music_audio" style="display: none;" src="{$item.audiofile}" controls="controls"></audio>
				</div>
				{/foreach}
			</div>
		</div>
		<!-- 右侧小时间 -->
		<div class="index_date">
			<div class="pr">
        <span id="index_date"></span>
        <div class="borderyWrap">
            <img class="index_bordery" src="/static/images/index/index_date.png">
        </div>
				<img class="index_date_imgy" src="/static/images/index/index_date_1.png">
			</div>
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
	<script type="text/javascript">
		$(function(){
			var myDate = new Date;
			var yue = myDate.getMonth()+1;
			var date = myDate.getDate();
			$('#index_date').text(yue + "月" + date + "日");
		})
	</script>
	<script type="text/javascript">
        
        function changeBg() { 
          var myBorder = $(".index_bordery")
          console.log(myBorder.css("margin-left"))
        	if (myBorder.css("margin-left") == "100%"){
        		$(".index_bordery").css("margin-left","0")
        	}else{
        		$(".index_bordery").css("margin-left","100%")
        	}
        	
        }
        setInterval("changeBg()", 500);
    </script>
    <script type="text/javascript">
		$(".index_music_p").click(function () {
			var audio_url = $(this).attr('audio_url');
			if($(this).siblings('audio')[0].paused){
				$(this).siblings('audio')[0].play();
			} else {
				$(this).siblings('audio')[0].pause();
			}
			
		})
	</script>
</body>
</html>
