<!DOCTYPE html>
<html>
<head>
	<title>公司介绍</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/company.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 公司介绍 -->
	<div class="com_bg">
		<div class="com_title ac">
			<img class="w100" src="/static/images/company/com_intor.png">
		</div>
		<div class="com_intor" style="margin-top: 7%;">
			<img class="com_video w100" src="/static/images/company/com_video.png">
			<!-- <img class="com_video_img" src="{$site.about_video_thumb1}"> -->
			<video class="com_video_img" id="video" src="{$site.about_video1}" width="600" height="360" preload autoplay=""></video>
			<img class="com_video_start playvideo" src="/static/images/company/com_start.png" data-url="{$site.about_video1}">

		</div>
		<div class="com_text com_intor">
			<img class="w100" src="/static/images/company/com_text.png">
			<div class="com_text_p">{$info.content}</div>
		</div>
		<div class="com_pro com_intor">
			<img class="com_video w100" src="/static/images/company/com_pro.png">
			<img class="com_pro_img" src="{$site.about_video_thumb2}">
			<img class="com_video_start playvideo" src="/static/images/company/com_start.png" data-url="{$site.about_video1}">
		</div>
		<div class="com_team ac">
			<img class="" src="/static/images/company/com_team.png" style="width: 40%;"> 
		</div>
		<div class="com_dia com_intor">
			<img class="w100" src="/static/images/company/com_dia.png">
			<div class="com_dia_item com_dia_l">
				<div><img class="dia_item_img" src="{$teamlist[0]['image']}"></div>
				<div class="dia_item_p">
					<p class="dia_item_p1">{$teamlist[0]['name']}</p>
					<p class="dia_item_p2">{$teamlist[0]['description']}...</p>
				</div>
			</div>
			<div class="com_dia_item com_dia_r" style="">
				<div class="dia_item_p">
					<p class="dia_item_p1 ar">{$teamlist[1]['name']}</p>
					<p class="dia_item_p2">{$teamlist[1]['description']}...</p>
				</div>
				<div><img class="dia_item_img" src="{$teamlist[0]['image']}"></div>
			</div>
		</div>
		<div class="com_join ac">
			<img class="com_join_img" src="/static/images/company/com_join.png">
		</div>
		<div class="com_line"></div>
		<ul class="com_bottom">
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[0]['image']}">
			</li>
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[1]['image']}">
			</li>
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[2]['image']}">
			</li>
		</ul>
		<ul class="com_bottom">
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[3]['image']}">
			</li>
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[4]['image']}">
			</li>
			<li>
				<img class="com_bottom_bor" src="/static/images/company/com_2.png">
				<img class="com_bottom_img" src="{$hezuo[5]['image']}">
			</li>
		</ul>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript">
	//弹出一个页面层
 	// $('.playvideo').on('click', function(){
		// var videoUrl = $(this).attr('data-url');

		// var html = '<video id="video" src="'+videoUrl+'" width="600" height="360" controls preload autoplay></video>';
		// layer.open({
		// 	type: 1,
		// 	skin: 'layui-layer-rim', //加上边框
		// 	area: ['620px', '400px'], //宽高
		// 	title: false,
		// 	closeBtn: 0,
  // 			shadeClose: true,
		// 	content: html,
		// });	
 	// });
</script>
</body>
</html>
