<!DOCTYPE html>
<html>
<head>
	<title>新闻活动</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/product.css">
	<link rel="stylesheet" type="text/css" href="/static/css/news.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 顶部轮播图 -->
	{include file="common/banner"} 
	<!-- 商品展示 -->
	<div class="news_bg">
		<div class="pro">
			<!-- 核心商品展示 -->
			<div class="pro_l ac">
				<img class="news_act_img" src="/static/images/news/news_act.png">
				<ul class="news_ul">
					{foreach name="huodonglist" item="huodong"}
					<li class="news_show pro_show ac">
						<p class="news_show_title pro_show_title"><span>{$huodong.title}</span> <span class="title_fr fr">{:date('m/d', $huodong.createtime)}</span></p>
						<img class="news_show_img pro_show_img" src="{$huodong.thumbimage}">
						<img class="pro_show_bor" src="/static/images/news/news_bor.png">
					</li>
					{/foreach}
				</ul>
				<ul class="news_page pagination">
					{$huodonglist->render()}
				</ul>
			</div>
			<!-- 排行榜 -->
			<div class="pro_r">
				<img class="news_new_img" src="/static/images/news/news_new.png">
				<ul class="news_r_ul pro_r_ul">
					{foreach name="dongtailist" item="dongtai"}
					<li>
						<a href="#">
							<p><!-- <span class="mytop">置顶</span> --><span>{$dongtai.title}</span> <span class="fr">{:date('Y/m/d', $dongtai.createtime)}</span></p>
						</a>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
</body>
</html>
