<div class="footer_bg"></div>
<footer>
    <div class="bottom_l">
        <p class="mb">合作伙伴: <span>北京卫视网络</span> <span>北京卫视网络</span></p>
        <p class="mb">版权所有: <span>{$site.copyright}</span></p>
        <p class="mb">备案号:&nbsp;&nbsp; <span>{$site.beian}</span></p>
        <p class="mb">联系地址: <span>{$site.contact_address}</span></p>
        <p>联系电话: <span>{$site.contact_phone}</span></p>
    </div>
    <div class="bottom_r">
        <img src="static/images/index/index_logo.png">
    </div>
</footer>