<header>
	<img src="/static/images/top_logo.png">
	<ul class="header_ul">
		<li><a href="/" {if condition="$config['controllername']=='index'"}class="header_li_act"{/if}>首页</a></li>
		<li><a href="{:url('index/about/index')}" {if condition="$config['controllername']=='about'"}class="header_li_act"{/if}>公司介绍</a></li>
		<li><a href="{:url('index/music/index')}" {if condition="$config['controllername']=='music'"}class="header_li_act"{/if}>音乐课堂</a></li>
		<li><a href="{:url('index/product/index')}" {if condition="$config['controllername']=='product'"}class="header_li_act"{/if}>乐球世界</a></li>
		<li><a href="{:url('index/news/index')}" {if condition="$config['controllername']=='news'"}class="header_li_act"{/if}>新闻活动</a></li>
		<li><a href="{:url('index/join/index')}" {if condition="$config['controllername']=='join'"}class="header_li_act"{/if}>业务合作</a></li>
	</ul>
</header>