<!DOCTYPE html>
<html>
<head>
	<title>音乐课堂</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/music.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 公司介绍 -->
	<div class="music_bg ac">
		<div class="music_title ac">音乐课堂</div>
		<div class="music_intor">
			<img class="music_video w100" src="/static/images/music/music_video.png">
			<img class="music_video_img" src="{$info.thumbimage}">
			<img class="music_video_start" src="/static/images/company/com_start.png" data-toggle="modal" data-target="#myVideo1">
			<!-- 视频弹窗 -->
			<div class="modal fade" id="myVideo1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="min-width: 1200px;">
				<div class="pro_video">
					<video src="{$info.file}" controls="controls"></video>
				</div>
			</div>
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}

</body>
</html>
