<!DOCTYPE html>
<html>
<head>
	<title>音乐课堂</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/music.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶部导航菜单 -->
	{include file="common/header"}
	<!-- 公司介绍 -->
	<div class="music_bg ac">
		<div class="music_title ac">音乐课堂</div>
		<div class="music_intor">
			<img class="music_video w100" src="/static/images/music/music_video.png">
			<img class="music_video_img" src="{$info.thumbimage}">
			<img class="music_video_start playvideo" src="/static/images/company/com_start.png" data-url="{$info.file}">
		</div>
	</div>
	<!-- 下方广告 -->
	{include file="common/footer"}
<script type="text/javascript" src="/static/layer/layer.js"></script>
<script type="text/javascript">
	//弹出一个页面层
 	$('.playvideo').on('click', function(){
		var videoUrl = $(this).attr('data-url');

		var html = '<video id="video" src="'+videoUrl+'" width="600" height="360" controls preload autoplay></video>';
		layer.open({
			type: 1,
			skin: 'layui-layer-rim', //加上边框
			area: ['620px', '400px'], //宽高
			title: false,
			closeBtn: 0,
  			shadeClose: true,
			content: html,
		});	
 	});
</script>
</body>
</html>
